/* https://create-react-app.dev/docs/adding-a-css-modules-stylesheet */

.newsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

@media (max-width: 560px) {
  .newsGrid {
    grid-template-columns: 100%;
  }
}

.newsGrid img {
  /* margin-left: 1%; */
  /* max-width: 100%; */
  max-width: 250px;
  height:160px;
  border-radius: 10px;
}

.totalNews {
    text-align: center;
    color: darkslategray;
    font-size: large;
    font-weight: bold;
}
